
#QtCreator
*.config
*.files
*.includes
*.creator
*.user

# dir
[Oo]ut
[Bb]in
[Oo]bj
cov-int

#tar
*.tgz

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
